/* Reset some default browser styles */
body, h1, h2, h3, h4, h5, h6, p, div, span, a, button, input, textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
}

.logout-button {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c82333;
}

.board-form, .task-form {
  display: flex;
  margin-bottom: 20px;
}

.board-input, .task-input{
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.create-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-button:hover {
  background-color: #0056b3;
}

.board-list, .task-list {
  margin-top: 20px;
}

.board-item, .task-item {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-item h2, .task-item h2 {
  font-size: 20px;
  margin-right: auto;
  cursor: pointer;
}

.board-item h2:hover, .task-item h2:hover {
  color: #0056b3;
  text-decoration: underline;
}

.login-container, .signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form, .signup-form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-form h2, .signup-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-input, .signup-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-button, .signup-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover, .signup-button:hover {
  background-color: #0056b3;
}

.signup-link, .login-link {
  margin-top: 1rem;
  text-align: center;
}

.signup-link p, .login-link p {
  margin: 0;
}

.signup-link a, .login-link a {
  color: #007bff;
  text-decoration: none;
}

.signup-link a:hover, .login-link a:hover {
  text-decoration: underline;
}

.delete-button {
  padding: 10px 10px;
  background-color: #ff4b5c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff1f3c;
}

.error-message {
  color: red;
  margin-bottom: 1rem;
}